@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

    li {
        @apply px-4;
        @apply cursor-default;
    }
}

body {
    font-family: 'Architects Daughter', sans-serif;
}

.content-div{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.content-div:hover{
    background: linear-gradient(
        to right,
        rgba(112, 157,255, 0.8),
        hsla(242, 74%, 61%, 0.8)
    )!important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(219, 39 ,119, 0.5);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }